h2 {
  text-align: center;
  color: lightgrey
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  border: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px;
  width: 20%;
  height: 300px;
  text-align: center;
  background-color: lightgrey;

}

.pokemon-name {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: blue;
}

.pokemon-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
